body {
    font-family: 'Roboto', sans-serif;
    background-color: #000;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color: #111;
    border-radius: 8px;
    padding: 40px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
    max-width: 500px;
    width: 100%;
    text-align: center;
    color: #fff;
}

h1 {
    color: #e50914;
    font-weight: 700;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #ccc;
    font-weight: 700;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
}

.btn {
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #e50914;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #ff3c00;
}

#shortenedUrlDiv {
    margin-top: 20px;
    padding: 20px;
    background-color: #333;
    border-radius: 4px;
    word-wrap: break-word;
}